body{
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.container{
    display: grid;
    width: auto;
    background-color:#F9F7F7 ;
    border: 1px solid;
    gap: 10px;
}

.pic2x2{
    float: left;
    margin-right: 20px;
    height: 200px;
}

.section{
    padding: 20px;
    margin: 0;
}


.head{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
}

.links{
    text-decoration: none;
    color: black;
}

#name{
    font-weight: 700px;
    font-size: 3rem;
}
.text{
    font-family: "Poppins", sans-serif;
    font-weight: 500px;
    margin: 0;
    color: #112D4E;
}

.text1{
    color:  #112D4E;
}

.text2{
    font-style: italic;
    font-weight: 50px;
}

.experience{
    margin-top: 0;
}

.summary{
    padding-bottom: 0;
}

.enum>li{
    list-style-type:disc;
}
