.main{
background-color:#7FA1C3 ;
height: 1vh;
}

body.main {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif; /* Adjust font family as needed */
}

html, body {
height: 100%;
margin: 0;
}

.text{
color:#F5EDED ;
font-family: "Fanwood Text", serif;
font-weight: 200;
font-style: normal;
letter-spacing: 3px;
}

.image{
display: flex;
justify-content: center;
border-radius: 50%;
}

.text1{
color:#F5EDED ;
font-family: "Fanwood Text", serif;
font-weight: 400;
font-style: normal;
letter-spacing: 6px;
}

.text1-dark{
color:#6482ad ;
font-family: "Fanwood Text", serif;
font-weight: 400;
font-style: normal;
letter-spacing: 6px;
}

.text2{
color: #F5EDED;
font-family: "Golos Text", sans-serif;
font-optical-sizing: auto;
font-size: 1.2rem;
font-style: normal;
}

.text2-dark{
color: #6482ad;
font-family: "Golos Text", sans-serif;
font-optical-sizing: auto;
font-size: 1.8rem;
font-style: normal;
}

.text2-p-dark{
color: #7FA1C3 ;
font-family: "Golos Text", sans-serif;
font-optical-sizing: auto;
font-size: 1.1rem;
font-style: normal;
}

.text3{
color: #F5EDED;
font-family: "Golos Text", sans-serif;
font-optical-sizing: auto;
font-size: 1.2rem;
font-style: italic;
}
.nav-item{
    color:#F5EDED ;
}


.fanwood-text-regular {
font-family: "Fanwood Text", serif;
font-weight: 400;
font-style: normal;
}

.fanwood-text-regular-italic {
font-family: "Fanwood Text", serif;
font-weight: 400;
font-style: italic;
}



.dm-serif-text-regular-italic {
font-family: "DM Serif Text", serif;
font-weight: 400;
font-style: italic;
}


.name{
background-color: #7FA1C3;
border: 1px solid #F5EDED;
margin: 0;
padding: 0;
}

.btn-custom{
background-color: #6482ad;
color: #E2DAD6;
}

.skills{
background-color: #E2DAD6;
margin: 0;
padding: 0;
}

.socials>a{
color: inherit;
text-decoration: none;
}

.project{
padding-top: 35px ;
padding-bottom: 40px;
}

.contact{
padding-bottom: 40px;
}

.carousel-item {
position: relative;
height: 600px; 
overflow: hidden;
}
.carousel-item img {
object-fit: cover; 
width: 100%; 
height: 100%; 
}
.carousel-caption-container {
background-color: rgba(0, 0, 0, 0.5); 
color: white;
padding: 20px;
position: absolute;
bottom: 0;
left: 0;
right: 0;
z-index: 10;}

.about{
    background-color: #E2DAD6;
    padding: 0;
    margin: 0;    
}



.footer{
background-color: #E2DAD6;
margin: 0;
padding: 0;
margin-bottom: 0;
}

.carousel-inner{
    border-radius: 14px;

}

@media (max-width: 576px) {
    #projects .carousel-item img {
    height: auto;
    }

    #projects .cotnainer-fluid{
        padding: 0 !important;
    }


    #projects .carousel-caption-container {
    padding: px;
    font-size: 14px;
    }
}

.icon-square svg {
    fill: #F5EDED; /* Change to your desired color */
}

.left-paragraph {
    text-align: left;
    padding: 0;
}

.icon-square {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4em;
    height: 4em; 
    background: #7FA1C3;
    border-radius: 50%;
}
